{% extends 'base.twig' %}

{% block layout %}
    <div class="supsystic-plugin">
      {% block header %}
          <div class="supsystic-breadcrumbs">
              Social Share by Supsystic
          </div>
      {% endblock %}
        <section class="supsystic-content" >
            <nav class="supsystic-navigation" style="top: 0px;">
                <ul>
                    {% block navigation %}
                        <li class="{% if request.query.module == 'overview' %}active{% endif %}" data-menu-item-title="Overview">
                            <a href="{{ environment.generateUrl('overview') }}">
                                <i class="fa fa-fw fa-info"></i>
                                {{ environment.translate('Overview') }}
                            </a>
                        </li>
                        <li class="{% if request.query.module == 'projects' and request.query.action == 'add'  %}active{% endif %}" data-menu-item-title="Add new">
                            <a href="{{ environment.generateUrl('projects', 'add') }}">
                                <i class="fa fa-plus-circle"></i>
                                {{ environment.translate('New Project') }}
                            </a>
                        </li>
                        <li class="{% if (request.query.module == 'projects' or request.query.module is not defined) and request.query.action != 'add'  %}active{% endif %}" data-menu-item-title="Projects">
                            <a href="{{ environment.generateUrl('projects') }}">
                                <i class="fa fa-fw fa-archive"></i>
                                {{ environment.translate('Projects') }}
                            </a>
                        </li>
                        {% if environment.getModule('license') %}
                            <li class="{% if request.query.module == 'license' %}active{% endif %}" data-menu-item-title="License">
                                <a href="{{ environment.generateUrl('license') }}">
                                    <i class="fa fa-fw fa-hand-o-right"></i>
                                    {{ environment.translate('License') }}
                                </a>
                            </li>
                        {% endif %}
                    {% endblock %}
                </ul>
                <div class="clear"></div>
            </nav>
            <div class="supsystic-container supsystic-item supsystic-panel">
                {{ environment.getDispatcher().dispatch('messages') }}
                {% block content %}{% endblock %}
                <div class="clear"></div>

                {% if SSS_AC_SHOW == true %}
                <div class="supsysticOverviewACFormOverlay">
                    <form method="post" id="overview-ac-form" class="supsysticOverviewACForm">
                      <div class="supsysticOverviewACTitle">
                        <div class="supsysticOverviewACClose"><i class="fa fa-times" aria-hidden="true"></i></div>
                        <a href="https://supsystic.com/" target="_blank"><img src="{{ SSS_PLUGIN_URL }}/src/SocialSharing/Overview/assets/img/supsystic-logo-small.png"></a><br>
                        <b>PRO plugins</b> and <b>amazing gifts</b>!
                      </div>
                      <label>Name *</label>
                      <input type="text" name="username" value="{{ SSS_USER_NAME }}">
                      <label>Email *</label>
                      <input type="text" name="email" value="{{ SSS_USER_EMAIL }}">
                      <input type="hidden" name="nonce" value="{{ environment.getNonce() }}">
                      <button id="subscribe-btn" type="submit" class="button button-primary button-hero">
                          <i class="fa fa-check-square" aria-hidden="true"></i>
                          Subscribe
                      </button>
                      <div class="button button-primary button-hero supsysticOverviewACBtn supsysticOverviewACBtnRemind"><i class="fa fa-hourglass-half" aria-hidden="true"></i> Remind me tomorrow</div>
                      <div class="button button-primary button-hero supsysticOverviewACBtn supsysticOverviewACBtnDisable"><i class="fa fa-times" aria-hidden="true"></i> Do not disturb me again</div>
                      <div class="supsysticOverviewACFormNotification" style="color: red; float: left;" hidden>Fields with * are required to fill</div>
                    </form>
                    <div class="clear"></div>
                </div>
                <div id="supsysticOverviewACFormDialog" hidden>
                      <div class="on-error" style="display:none">
                          <p>{{ translate('Some errors occurred while sending mail please send your message trough this contact form:') }}</p>
                          <p><a href="https://supsystic.com/plugins/social-share-plugin/#contact" target="_blank">https://supsystic.com/plugins/social-share-plugin/#contact</a></p>
                      </div>
                      <div class="message"></div>
                </div>
                {% endif %}
            </div>
          {% block dialogs %}{% endblock %}
            <div class="supsystic-footer-wrapper">
              <div class="supsystic-footer-add-review">Add your <a target="_blank" href="http://wordpress.org/support/view/plugin-reviews/social-share-buttons-by-supsystic?filter=5#postform">★★★★★</a> on wordpress.org</div>
              <a href="https://supsystic.com/" target="_blank"><img src="{{SSS_PLUGIN_URL}}/src/SocialSharing/Overview/assets/img/supsystic-logo-small.png"></a>
              <div class="supsystic-footer-plugin-version">Social Share by Supsystic Version:{{' '}} {{SSS_PLUGIN_VERSION}}</div>
            </div>
          </section>
        </div>
    <!-- /.supsystic-plugin -->
{% endblock layout %}
